
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>
<div class="card">
    <div class=" = card-header">
        <i class="fas fa-users-cog me-1"></i>Lista de Usuarios
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                @*Cambiar "text" a hidden*@
                <input id="txtId" type="text" value="0" />

                <div class="row g-2">


                    <div class="col-sm-6">
                        <label for="txtnombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtnombres">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtapellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtapellidos">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtcorreo" class="form-label">Correo Electronico</label>
                        <input type="text" class="form-control" id="txtcorreo">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="row mt-3">

                        <div>
                            <div id="MensajeError" class="alert alert-danger" role="alert"></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        var filaSeleccionada;
        var tabladata;
         //creacion de la tabla
        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarUsuario", "Home")',
                type: "GET",
                datatype: "json",
                contentType: "application/json; charset-utf-8",
            },
            "columns": [
                { "data": "usua_Nombre" },
                { "data": "usua_Apellido" },
                { "data": "usua_Correo" },
                {
                    "data": "usua_Activo", "render": function (valor) {
                        if (valor) {

                            return '<span class="badge bg-success">Si</span>'

                        } else {

                            return '<span class="badge bg-danger">No</span>'

                        }
                    }
                },
                {
                    //Botones de la tabla
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                      '<button type="button" class="btn btn-danger btn-sm ms-1 btn-Eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "60px"
                }
            ],    
            "language": {
                "url": "//cdn.datatables.net/plug-ins/2.1.3/i18n/es-MX.json"
            }
        });
        // json = var 
        function abrirModal(json) {

            $("#MensajeError").hide();

            $("#txtId").val(0);
            $("#txtnombres").val("");
            $("#txtapellidos").val("");
            $("#txtcorreo").val("");
            $("#cboactivo").val(1);

            if (json != null) {

                $("#txtId").val(json.usua_ID);
                $("#txtnombres").val(json.usua_Nombre);
                $("#txtapellidos").val(json.usua_Apellido);
                $("#txtcorreo").val(json.usua_Correo);
                $("#cboactivo").val(json.usua_Activo == true ? 1 : 0 );

            }

            $("#FormModal").modal("show");

        }
         //Si se preciona el boton editar dentro de la tabla, pasa:
        $("#tabla tbody").on("click", '.btn-editar', function () {

            var filaSeleccionada = $(this).closest("tr");

            //BORRAR (mostrar datos en la consola)
            console.log(tabladata.row(filaSeleccionada).data());

            var data = tabladata.row(filaSeleccionada).data();

            //Abre el abrir modal pasando la informacion de las tablas
            abrirModal(data)

        });
        $("#tabla tbody").on("click", '.btn-Eliminar', function () {

            var UsuarioSeleccionado = $(this).closest("tr");

            var data = tabladata.row(UsuarioSeleccionado).data();

            swal({
                title: "¿Estas seguro?",
                text: "No podras recuperar este usuario!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Eliminar!",
                cancelButtonText:"No",
                closeOnConfirm: true
            },
                function () {

                    jQuery.ajax({

                        url: '@Url.Action("EliminarUsuario", "Home")',
                        type: "POST",
                        data: JSON.stringify({ usua_ID: data.usua_ID }),
                        datatype: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.Resultado) {

                                tabladata.row(UsuarioSeleccionado).remove().draw();

                            } else {

                                swal("no se puede eliminar", data.Mensaje, "Error")

                            }

                        },
                    });
                });
        });
        function Guardar() {

            var Usuario = {

                usua_Activo: $("#cboactivo").val() == 1 ? true: false,
                usua_Nombre: $("#txtnombres").val(),
                usua_Apellido: $("#txtapellidos").val(),
                usua_Correo: $("#txtcorreo").val(),
                usua_ID: $("#txtId").val()
            }

            jQuery.ajax({

                url: '@Url.Action("GuardarUsuarios", "Home")',
                type: "POST",
                data: JSON.stringify({ Objeto: Usuario }),
                datatype: "json",
                contentType: "application/json; charset-utf-8",
                success: function (data) {
                    //NUEVO USUARIO
                    debugger;
                    if (Usuario.usua_ID == 0) {

                        if (data.Resultado != 0) {

                            Usuario.usua_ID = data.Resultado;
                            tabladata.row.add(Usuario).draw(false);
                            $("#FormModal").modal("hide");
                        }                    
                    } else {

                        alert(data.mensaje);
                        $("#MensajeError").text(data.Mensaje);
                        $("#MensajeError").show();

                    }
                },

                error: function () {
                    console.log(error)
                },
                beforeSend: function () {

                }



            })


            if (Usuario.usua_ID == 0) {

                tabladata.row.add(Usuario).draw(false);

            } else {

                tabladata.row(filaSeleccionada).data(Usuario).draw(false);
            }

            $("#FormModal").modal("hide");
        }

    </script>
}
